.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
  display: flex;
  align-items: center;
}
.movie-rating{
  font-size: 24px;
}
.movie-name-rating{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}
.movie-summary{
  font-size: 19px;
  font-weight: 400;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container { 
  width: 340px; 
}

/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin-top: 25px;
}
 

.addmovie-outer{ 
  margin: 10px auto ;
  padding: 10px;
  gap: 10px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
 
.Movie-details-Container{
  max-width: 800px;
  padding: 15px;
}



/* .propic{
  height:120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.name{
  
  font-weight: normal;
}
.bold{
  color: crimson;
  font-weight: bolder;
}
.sec1{
  text-align: center;
} */